@using Entities.EnumData
@model AccountFilter
@{
    ViewData["Title"] = Localizer.Get("Accounts");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useDatatable = true;
    ViewBag.useModels = true;
   
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];
    ViewBag.emptyLayout = ViewData["ProfileLayOut"] != null && (bool)ViewData["ProfileLayOut"];

    var row = new AccountDto();
    if (!ViewBag.emptyLayout)
    {
        ViewBag.useForm = true;
        ViewBag.useDatePicker = true;
        ViewBag.useCharts = true;

    }
    
}
@if (!ViewBag.emptyLayout)
{
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">@Localizer.Get("Dashboard")</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        @ViewData["Title"]
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section id="ajax-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title"> @ViewData["Title"]</h4>
                                </div>
                                <div class="card-datatable">
                                    <table class="datatables datatables-ajax table table-responsive table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => row.Id)

                                                    @if (accessLevel.ViewAccess)
                                                    {
                                                        <a id="profile" asp-action="Profile">
                                                        </a>
                                                    }

                                                    @if (accessLevel.ExportAccess)
                                                    {
                                                        <a id="export" href="export">
                                                        </a>
                                                    }

                                                    @if (accessLevel.CreateAccess)
                                                    {
                                                        <a id="create" asp-action="CreateOrEdit">
                                                        </a>
                                                    }

                                                    @if (accessLevel.EditAccess)
                                                    {
                                                        <a id="edit" asp-action="CreateOrEdit">
                                                        </a>
                                                    }
                                                    @if (accessLevel.DeleteAccess)
                                                    {
                                                        <a id="delete" asp-action="Delete">
                                                        </a>
                                                    }

                                                </th>
                                                <th>@Html.DisplayNameFor(model => row.User.Name)</th>
                                                <th>@Html.DisplayNameFor(model => row.User.PhoneNumber)</th>
                                                <th>@Html.DisplayNameFor(model => row.User.EmailAddress)</th>
                                                <th>@Html.DisplayNameFor(model => row.AccountType)</th>
                                                <th>@Html.DisplayNameFor(model => row.AccountState)</th>
                                                <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => row.Id)
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
    <!-- END: Content-->
}
else
{
    <section id="ajax-datatable">
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title"> @ViewData["Title"]</h4>
                    </div>
                    <div class="card-datatable">
                        <table class="datatables datatables-ajax table table-responsive table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => row.Id)

                                        @if (accessLevel.ViewAccess)
                                        {
                                            <a id="profile" asp-action="Profile">
                                            </a>
                                        }

                                        @if (accessLevel.ExportAccess)
                                        {
                                            <a id="export" href="export">
                                            </a>
                                        }

                                        @if (accessLevel.CreateAccess)
                                        {
                                            <a id="create" asp-action="CreateOrEdit">
                                            </a>
                                        }

                                        @if (accessLevel.EditAccess)
                                        {
                                            <a id="edit" asp-action="CreateOrEdit">
                                            </a>
                                        }
                                        @if (accessLevel.DeleteAccess)
                                        {
                                            <a id="delete" asp-action="Delete">
                                            </a>
                                        }

                                    </th>
                                    <th>@Html.DisplayNameFor(model => row.User.Name)</th>
                                    <th>@Html.DisplayNameFor(model => row.User.PhoneNumber)</th>
                                    <th>@Html.DisplayNameFor(model => row.User.EmailAddress)</th>
                                    <th>@Html.DisplayNameFor(model => row.AccountType)</th>
                                    <th>@Html.DisplayNameFor(model => row.AccountState)</th>
                                    <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => row.Id)
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section scripts{
    <script>
    function LoadTable(){
            var dt_ajax_table = $('.datatables');
            if (dt_ajax_table.length) {
                var dt_ajax = dt_ajax_table.dataTable({
                    // Ajax Filter
                    ajax: {
                        url: '@Url.Action("LoadTable")',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (data) {
                            data.Id = @Model.Id;

                            return JSON.stringify(data);
                        }
                    },
                    // Columns Setups
                    columns: [
                        { data: "id" },
                        {
                            data: "user",
                            render: function (data, type, row) {
                                if (row.imageUrl != null && row.imageUrl != '') {
                                    return '<a href="/AccountEntity/Account/Profile/' + row.id +'"><div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                        + '<img src="' + row.imageUrl + '"  height="32" width="32">'
                                        
                                        + '</div></div>'
                                        + ' <div class= "d-flex flex-column">'
                                        + '<span class= "fw-bolder">' + data.name + '</span> '
                                        + '<small class= "emp_post text-muted" ></small ></div></div></a>';
                                }
                                else {
                                    return '<a href="/AccountEntity/Account/Profile/' + row.id + '"><div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                        + '<img src="/userImg.png"  height="32" width="32">'

                                        + '</div></div>'
                                        + ' <div class= "d-flex flex-column">'
                                        + '<span class= "fw-bolder">' + data.name + '</span> '
                                        + '<small class= "emp_post text-muted" ></small ></div></div></a>';
                                }
                            },
                            orderable: false
                        },
                        { data: "user.phoneNumber" },
                        { data: "user.emailAddress" },
                        {
                            data: "accountType",
                            orderable: false,
                            render: function (data) {
                                if (data.colorCode == "#fff"
                                    || data.colorCode == "#ffff"
                                    || data.colorCode == ""
                                    || data.colorCode == null) {
                                    return data.name;
                                }
                                else {
                                    return '<span class="badge  px-2 text-center" style="background-color:' + data.colorCode + ';color:white">' + data.name + '</span>';
                                }
                            }
                        },
                        {
                            data: "accountState",
                            orderable: false,
                            render: function (data) {
                                if (data.colorCode == "#fff"
                                    || data.colorCode == "#ffff"
                                    || data.colorCode == ""
                                    || data.colorCode == null) {
                                    return data.name;
                                }
                                else {
                                    return '<span class="badge  px-2 text-center" style="background-color:' + data.colorCode + ';color:white">' + data.name + '</span>';
                                }
                            }
                        },

                        { data: "createdAt" },
                        { data: "id" },
                    ]
                });

                $("button[type=reset]").on("click", function () {
                    $(".dt-date").each(function () {
                        $(this).val('');
                    })
                });
                $('body').on('submit', '.filter', function () {
                    event.preventDefault();
                    dt_ajax_table.DataTable().draw();

                });

            }
    }

        $(document).ready(function () {
            LoadTable();

            $(".displayType").on('click', function () {
                if ($("#ajax-datatable").css('display') != 'none') {
                    $("#ajax-datatable").css('display', 'none');
                }
            });

        });
</script>
}
