@using Entities.EnumData
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HotelCreateOrEditModel

@{
    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;
    int fk_Country = ViewData["Fk_Country"] != null ? (int)ViewData["Fk_Country"] : 0;
}

<div class="content-header">
    <h5 class="mb-0">@Localizer.Get("Hotel Information")</h5>
    <small class="text-muted">@Localizer.Get("Hotel Information Description")</small>
</div>

<form class="hotel_form" asp-action="CreateOrEditWizard" asp-controller="Hotel" enctype="multipart/form-data">
    <div class="d-flex">
        <a href="#" class="me-25">
            <img src="@($"{(!string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/hotel.png")}")" class="uploadedAvatar account-upload-img rounded me-50" height="100" width="100">
        </a>
        <!-- upload and reset button -->
        <div class="d-flex align-items-end mt-75 ms-1">
            <div>
                <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">@Localizer.Get("Upload Image")</label>
                <input type="file" id="account-upload" class="account-upload" hidden="" name="ImageFile" accept="image/*">
                <button type="button" class="account-reset btn btn-sm btn-outline-secondary mb-75 waves-effect">@Localizer.Get("Reset")</button>
            </div>
        </div>
        <!--/ upload and reset button -->
    </div>
    <br />
    <div class="row">
        <div class="text-danger hotel_error_div"></div>
        <input type="hidden" asp-for="@id" />
        <hr />

        <div class="col-md-6 col-12">
            <div class="mb-1">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" asp-for="Name" class="form-control" placeholder="@Localizer.Get("Name")" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        
        @{ int i = 0;}
        @foreach (DBModelsEnum.LanguageEnum language in Enum.GetValues(typeof(DBModelsEnum.LanguageEnum)))
        {
            <div class="col-md-6 col-12">
                <div class="mb-1">
                    <label class="form-label">@Localizer.Get($"Name {language}")</label>
                    
                    <input asp-for="HotelLangs[i].Name" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get("Name"))"/>
                    <span asp-validation-for="HotelLangs[i].Name" class="text-danger"></span>
                    
                    <input type="hidden" asp-for="HotelLangs[i].Language" value="@language" />
                </div>
            </div>
            i++;
        }

        <div class="col-md-12 col-12">
            <div class="mb-1">
                <label asp-for="BookingUrl" class="form-label"></label>
                <input type="text" asp-for="BookingUrl" class="form-control" placeholder="@Localizer.Get("BookingUrl")" />
                <span asp-validation-for="BookingUrl" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-12 col-12">
            <div class="mb-1">
                <label asp-for="LocationUrl" class="form-label"></label>
                <input type="text" asp-for="LocationUrl" class="form-control" placeholder="@Localizer.Get("LocationUrl")" />
                <span asp-validation-for="LocationUrl" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-12 col-12">
            <div class="mb-1">
                <label asp-for="Address" class="form-label"></label>
                <input type="text" asp-for="Address" class="form-control" placeholder="@Localizer.Get("Address")" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="mb-1">
                <label class="form-label">@Localizer.Get("Country")</label>
                <select name="Fk_Country" class="select2 form-select">
                    <option value="0">@Localizer.Get("Not Selected")</option>
                    @foreach (KeyValuePair<string, string> country in (Dictionary<string, string>)ViewData["Countries"])
                    {
                        <option value="@country.Key" selected="@(fk_Country.ToString() == country.Key)">@country.Value</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="col-md-4 col-12">
            <div class="mb-1">
                <label asp-for="Fk_Area" class="form-label"></label>
                <select asp-for="Fk_Area" class="select2 form-select"
                        asp-items="@(new SelectList(ViewData["Areas"] as Dictionary<string, string>, "Key", "Value"))">
                    <option value="0">@Localizer.Get("Not Selected")</option>
                </select>
                <span asp-validation-for="Fk_Area" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-4 col-12">
            <div class="mb-1">
                <label asp-for="IsActive" class="form-label"></label>
                <select asp-for="IsActive" class="select2 form-select">
                    <option value="true">@Localizer.Get("Yes")</option>
                    <option value="false">@Localizer.Get("No")</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12 col-12">
            <div class="mb-1">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control summernote">@Localizer.Get("Enter") @Localizer.Get("Content")</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="divider"><div class="divider-text"><i data-feather="check"></i></div></div>
    </div>
</form>
<div class="d-flex justify-content-between">
    <button class="btn btn-outline-secondary btn-prev" disabled>
        <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
        <span class="align-middle d-sm-inline-block d-none">@Localizer.Get("Previous")</span>
    </button>
    <button type="button" class="btn btn-primary btn-next hotel_submit_btn">
        <span class="align-middle d-sm-inline-block d-none">@Localizer.Get("Next")</span>
        <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
    </button>
</div>