@model DashboardViewDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">@Localizer.Get("DashboardView")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
     
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Name):</dt>
                <dd class="col-sm-8 mb-1">@Model.Name</dd>

                 <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.ViewPath):</dt>
                <dd class="col-sm-8 mb-1">@Model.ViewPath</dd>
            </dl>


        </div>
    </div>
  
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>
            </dl>
        </div>

    </div>
</div>

