@model HotelCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("Hotel")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useFormRepeater = true;
    ViewBag.useImageUploud = true;
    ViewBag.useWizard = true;
    ViewBag.useLoader = true;
    ViewBag.useModels = true;
    ViewBag.useSummernote = true;
    ViewBag.useCustomDropzone = true;

    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;
}
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/HotelEntity/Hotel/Index">@Localizer.Get("Hotels")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
                    <section class="horizontal-wizard">
                        <div class="bs-stepper horizontal-wizard-example">
                            <div class="bs-stepper-header" role="tablist">
                                <div class="step" data-target="#hotel-details" role="tab" id="hotel-details-trigger">
                                    <button type="button" class="step-trigger">
                                        <span class="bs-stepper-box">1</span>
                                        <span class="bs-stepper-label">
                                            <span class="bs-stepper-title">@Localizer.Get("Hotel Information")</span>
                                            <span class="bs-stepper-subtitle">@Localizer.Get("Hotel Information Description")</span>
                                        </span>
                                    </button>
                                </div>
                                
                                <div class="line">
                                    <i data-feather="chevron-right" class="font-medium-2"></i>
                                </div>
                                
                                <div class="step" data-target="#hotel-features" role="tab" id="hotel-features-trigger">
                                    <button type="button" class="step-trigger">
                                        <span class="bs-stepper-box">2</span>
                                        <span class="bs-stepper-label">
                                            <span class="bs-stepper-title">@Localizer.Get("Hotel Features Information")</span>
                                            <span class="bs-stepper-subtitle">@Localizer.Get("Hotel Features Information Description")</span>
                                        </span>
                                    </button>
                                </div>
                                
                                <div class="line">
                                    <i data-feather="chevron-right" class="font-medium-2"></i>
                                </div>
                                
                                <div class="step" data-target="#hotel-attachments" role="tab" id="hotel-attachments-trigger">
                                    <button type="button" class="step-trigger">
                                        <span class="bs-stepper-box">3</span>
                                        <span class="bs-stepper-label">
                                            <span class="bs-stepper-title">@Localizer.Get("Hotel Attachments Information")</span>
                                            <span class="bs-stepper-subtitle">@Localizer.Get("Hotel Attachments Information Description")</span>
                                        </span>
                                    </button>
                                </div>
                           
                                
                            </div>
                            <div class="bs-stepper-content">
                                <div id="hotel-details" class="content" role="tabpanel" aria-labelledby="hotel-details-trigger">
                                    @await Html.PartialAsync("HotelForm/HotelDetails", Model)
                                </div>
                                
                                <div id="hotel-features" class="content" role="tabpanel" aria-labelledby="hotel-features-trigger">
                                    @await Html.PartialAsync("HotelForm/HotelFeatures", Model)
                                </div>
                                
                                <div id="hotel-attachments" class="content" role="tabpanel" aria-labelledby="hotel-attachments-trigger">
                                    @await Html.PartialAsync("HotelForm/HotelAttachments", Model)
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

    </div>
</div>
<!-- END: Content-->

@section scripts
{
    <script src="~/apis/site.js"></script>
    <script src="~/apis/hotel.js"></script>

    <script>
        // First Step
        $(document).on("click", ".hotel_submit_btn", function(e) {
          e.preventDefault();
          
          let hotelForm = $('.hotel_form')[0];
          let hotelFormData = new FormData(hotelForm);
          
          saveHotel(hotelFormData, $(".hotel_error_div"));
        });
        
        // Second Step
        $(document).on("click", ".hotel_features_submit_btn", function () {
            let hotelForm = $('.hotel_features_form')[0];
            let hotelFormData = new FormData(hotelForm);
              
            saveHotelFeatures(hotelFormData, $(".hotel_features_error_div"));
        });
        
        // Third Step
        $(document).on("click", ".hotel_attachment_submit_btn", function(e) {
          e.preventDefault();
        
          window.location.href = "@Url.ActionLink("Index", "Hotel", new { area = "HotelEntity" })";
        });
        
        
        
    </script>
}
