@model HotelDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;

}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">@Localizer.Get("Hotel Details")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab-fill" data-bs-toggle="tab" href="#home-fill" role="tab" aria-controls="home-fill" aria-selected="true">
                @Localizer.Get("Hotel Information")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab-fill" data-bs-toggle="tab" href="#profile-fill" role="tab" aria-controls="profile-fill" aria-selected="false">
                @Localizer.Get("Hotel Features Information")

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages-tab-fill" data-bs-toggle="tab" href="#messages-fill" role="tab" aria-controls="messages-fill" aria-selected="false">
                @Localizer.Get("Hotel Attachments Information")

            </a>
        </li>
    </ul>

    <div class="tab-content pt-1">
        <div class="tab-pane active" id="home-fill" role="tabpanel" aria-labelledby="home-tab-fill">
            <div class="card profile-header mb-2">
                <img class="card-img-top" height="10" src="~/coverImg.png" alt="cover">
                <!--/ profile cover photo -->
                <div class="position-relative">
                    <!-- profile picture -->
                    <div class="profile-img-container d-flex align-items-center">
                        <div class="profile-img border">
                            <img height="150" width="100" src="@($"{(!string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/hotel.png")}")" class="rounded img-fluid" alt="">
                        </div>
                        <!-- profile title -->
                        <div class="profile-title ms-3">
                            <h2 class="text-dark">@Model.Name</h2>
                            @if (Model.IsActive)
                            {
                                <span class="badge bg-success">@Localizer.Get("Active")</span>

                            }
                            else
                            {
                                <span class="badge bg-danger">@Localizer.Get("InActive")</span>
                            }
                            <span>&nbsp;&nbsp;</span>
                            <span>|</span>
                            <span>&nbsp; &nbsp;</span>
                            <span>@Localizer.Get("Rate"): @Model.Rate</span>
                        </div>
                    </div>
                </div>

            </div>

            <hr />

            <div class="row">
                <div class="col-xl-12 col-12">
                    <dl class="row mb-0">
                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Area):</dt>
                        <dd class="col-sm-8 mb-1">
                            @if (Model.Area != null)
                            {
                                <span>@Model.Area.Country.Name - @Model.Area.Name</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </dd>


                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Address):</dt>
                        <dd class="col-sm-8 mb-1">@Model.Address</dd>

                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LocationUrl):</dt>
                        <dd class="col-sm-8 mb-1">
                            @if (!string.IsNullOrEmpty(Model.LocationUrl))
                            {
                                <a href="@Model.LocationUrl" target="_blank">@Localizer.Get("Open link")</a>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </dd>
                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.BookingUrl):</dt>
                        <dd class="col-sm-8 mb-1">
                            @if (!string.IsNullOrEmpty(Model.BookingUrl))
                            {
                                <a href="@Model.BookingUrl" target="_blank">@Localizer.Get("Open link")</a>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </dd>
                    </dl>
                </div>


            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <span class="badge bg-success">@Html.DisplayNameFor(model => model.Description) </span>
                </div>
                <br />
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    @Html.Raw(Model.Description)
                }
                else
                {
                    <p>@Localizer.Get("Not Found")</p>
                }

            </div>

            <hr />
            <div class="row">
                <div class="col-xl-7 col-12">
                    <dl class="row mb-0">
                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                        <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>

                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedAt):</dt>
                        <dd class="col-sm-8 mb-1">@Model.LastModifiedAt</dd>
                    </dl>
                </div>

                <div class="col-xl-5 col-12">
                    <dl class="row mb-0">

                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedBy):</dt>
                        <dd class="col-sm-8 mb-1">@Model.CreatedBy</dd>

                        <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedBy):</dt>
                        <dd class="col-sm-8 mb-1">@Model.LastModifiedBy</dd>
                    </dl>
                </div>

            </div>

        </div>
        <div class="tab-pane" id="profile-fill" role="tabpanel" aria-labelledby="profile-tab-fill">

            <div class="card-body">

                @if (Model.HotelSelectedFeatures != null && Model.HotelSelectedFeatures.Any())
                {

                    <div class="row">
                        @foreach (var featureCategory in Model.HotelSelectedFeatures)
                        {

                            <div class="col-md-6 col-12">

                                <span class="badge bg-success">@featureCategory.HotelFeatureCategory.Name </span>
                                <br>
                                <ul  style="list-style:none" class="mt-2">
                                    @foreach (var feature in featureCategory.HotelFeatures)
                                    {

                                        <li>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check font-medium-3 me-50"><polyline points="20 6 9 17 4 12"></polyline></svg> <span class="align-middle">
                                                    @feature.Name
                                                </span>
                                            </span>
                                        </li>
                                    }
                                </ul>



                            </div>
                        }

                    </div>
                }
                else
                {
                    <p>@Localizer.Get("Not Found")</p>
                }

            </div>


        </div>
        <div class="tab-pane" id="messages-fill" role="tabpanel" aria-labelledby="messages-tab-fill">
            <div class="card-body">
                <div class="added-cards">
                    @if (Model.HotelAttachments != null && Model.HotelAttachments.Any())
                    {
                        <div class="row">

                            @foreach (var item in Model.HotelAttachments)
                            {
                                <div class="col-md-6 col-xl-4" id="@item.Id">
                                    <div class="card mb-3">
                                        <div style="height:50%">
                                            @if (item.FileType.Contains("image"))
                                            {
                                                <img style="width:50%" class="card-img-top" src="@item.FileUrl" alt="Card image cap">
                                            }
                                            else if (item.FileType.Contains("pdf"))
                                            {
                                                <img style="width:50%" class="card-img-top" src="~/pdfIcon.png" alt="Card image cap">
                                            }
                                            else if (item.FileType.Contains("document"))
                                            {
                                                <img style="width:50%" class="card-img-top" src="~/wordIcon.png" alt="Card image cap">
                                            }
                                            else if (item.FileType.Contains("video"))
                                            {
                                                <img style="width:50%" class="card-img-top" src="~/vidoIcon.png" alt="Card image cap">
                                            }
                                            else
                                            {
                                                <img style="width:50%" class="card-img-top" src="~/fileIcon.png alt="Card image cap">
                                            }
                                        </div>
                                        <div class="card-body" style="height:50%">
                                            <h4 class="card-title">@item.CreatedAt</h4>
                                            <p class="card-text">
                                                <small class="text-muted">@Localizer.Get("FileName"): @item.FileName</small>
                                            </p>
                                            <p class="card-text">
                                                <a href="@item.FileUrl" target="_blank" class="text-muted me-75">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye align-middle me-50"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                    <span class="align-middle">@Localizer.Get("Preview")</span>
                                                </a>

                                            </p>
                                        </div>
                                    </div>
                                </div>


                            }

                        </div>
                    }

                    else
                    {
                        <p style="text-align:center">@Localizer.Get("Not Found")</p>

                    }
                </div>

            </div>
        </div>
    </div>



</div>

