@model HotelFilter
@{
    ViewData["Title"] = Localizer.Get("Hotels");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useDatatable = true;

    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new HotelDto();
    ViewBag.emptyLayout = ViewData["ProfileLayOut"] != null && (bool)ViewData["ProfileLayOut"];

    if (!ViewBag.emptyLayout)
    {
        ViewBag.useModels = true;
        ViewBag.useForm = true;
        ViewBag.useDatePicker = true;
        ViewBag.useCharts = true;
    }
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">@Localizer.Get("Dashboard")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="ajax-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p class="m-2 demo-inline-spacing">
                                <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#AdvancedFilter" role="button" aria-expanded="false" aria-controls="AdvancedFilter">
                                    <i data-feather='filter'></i>
                                    @Localizer.Get("Advanced Search")
                                </a>

                            </p>
                            @{
                                await Html.RenderPartialAsync("../Hotel/Filter", Model, ViewData);
                            }
                            
                            <div class="card-datatable">
                                <table class="datatables datatables-ajax table table-responsive table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => row.Id)

                                                @if (accessLevel.ViewAccess)
                                                {
                                                    <a id="details" asp-action="Details">
                                                    </a>
                                                }

                                                @if (accessLevel.CreateAccess)
                                                {
                                                    <a id="create" asp-action="CreateOrEdit">
                                                    </a>
                                                }

                                                @if (accessLevel.EditAccess)
                                                {
                                                    <a id="edit" asp-action="CreateOrEdit">
                                                    </a>
                                                }
                                                @if (accessLevel.DeleteAccess)
                                                {
                                                    <a id="delete" asp-action="Delete">
                                                    </a>
                                                }

                                            </th>
                                            <th>@Html.DisplayNameFor(model => row.Name)</th>
                                            <th>@Html.DisplayNameFor(model => row.Address)</th>
                                            <th>@Html.DisplayNameFor(model => row.Rate)</th>
                                            <th>@Html.DisplayNameFor(model => row.IsActive)</th>
                                            <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                            <th>@Html.DisplayNameFor(model => row.Id)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<!-- END: Content-->


@section scripts
{
    <script src="~/apis/charts.js"></script>
    <script src="~/apis/site.js"></script>
    <script>
        function LoadTable() {
            var dt_ajax_table = $('.datatables');
            if (dt_ajax_table.length) {
                var dt_ajax = dt_ajax_table.dataTable({
                    // Ajax Filter
                    ajax: {
                        url: '@Url.Action("LoadTable")',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (data) {
                            data.Id = @Model.Id;
                            data.Fk_Country = $("#Fk_Country").length > 0 ? $("#Fk_Country").val() : '@Model.Fk_Country';
                            data.Fk_Area = $("#Fk_Area").length > 0 ? $("#Fk_Area").val() : '@Model.Fk_Area';
                            
                            return JSON.stringify(data);
                        }
                    },
                    // Columns Setups
                    columns: [
                        { data: "id" },
                        {
                            data: "name", render: function (data, type, row) {

                                if (row.imageUrl != null && row.imageUrl != '') {
                                    return '<a href="#"><div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                        + '<img src="' + row.imageUrl + '"  height="32" width="32">'

                                        + '</div></div>'
                                        + ' <div class= "d-flex flex-column">'
                                        + '<span class= "fw-bolder">' + data + '</span> '
                                        + '<small class= "emp_post text-muted" ></small ></div></div></a>';
                                }
                                else {
                                    return '<a href="#"><div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                        + '<img src="/hotel.png"  height="32" width="32">'

                                        + '</div></div>'
                                        + ' <div class= "d-flex flex-column">'
                                        + '<span class= "fw-bolder">' + data + '</span> '
                                        + '<small class= "emp_post text-muted" ></small ></div></div></a>';
                                }
                            }
                        }, { data: "address" },
                        { data: "rate" },
                        { data: "isActive", render: function(data) {
                          if (data) {
                              return `<span class="badge bg-success">@Localizer.Get("Yes")<span>`;
                          }
                          
                          return `<span class="badge bg-danger">@Localizer.Get("No")<span>`;
                        } },
                        { data: "createdAt" },
                        { data: "id" },
                    ]
                });

                $("button[type=reset]").on("click", function () {
                    $(".dt-date").each(function () {
                        $(this).val('');
                    })
                });
                $('body').on('submit', '.filter', function () {
                    event.preventDefault();
                    dt_ajax_table.DataTable().draw();
                });

            }
        }

        $(document).ready(function () {
            LoadTable();

            $(".displayType").on('click', function () {
                if ($("#ajax-datatable").css('display') != 'none') {
                    $("#ajax-datatable").css('display', 'none');
                }
            });

        });
        
        $(document).on('change', '#Fk_Country', function () {
            getAreas($('#Fk_Area'),$(this).val(), false);
        });
    </script>
}
