@using Entities.EnumData
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarCategoryCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("CarCategory")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useImageUploud = true;
    ViewBag.useSummernote = true;
    ViewBag.formRepeater = true;
    
    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;
}
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/CarEntity/CarCategory/Index">@Localizer.Get("CarCategories")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form invoice-repeater" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <div class="row">
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Name" class="form-label"></label>
                                                <input asp-for="Name" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get("Name"))"/>
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                        @{ int i = 0;}
                                        @foreach (DBModelsEnum.LanguageEnum language in Enum.GetValues(typeof(DBModelsEnum.LanguageEnum)))
                                        {
                                            <div class="col-md-6 col-12">
                                                <div class="mb-1">
                                                    <label class="form-label">@Localizer.Get($"Name {language}")</label>
                                                    
                                                    <input asp-for="CarCategoryLangs[i].Name" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get("Name"))"/>
                                                    <span asp-validation-for="CarCategoryLangs[i].Name" class="text-danger"></span>
                                                    
                                                    <input type="hidden" asp-for="CarCategoryLangs[i].Language" value="@language" />
                                                </div>
                                            </div>
                                            i++;
                                        }

                                        <hr/>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                            <a asp-action="Index" class="btn btn-warning"> @Localizer.Get("Back") </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
<!-- END: Content-->