@using Entities.EnumData
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string name = ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.AccountName];
    string email = ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.AccountEmail];
}

@if (ViewBag.horizontal)
{
    <nav class="header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center" data-nav="brand-center">
        <div class="navbar-container d-flex content">
            <div class="bookmark-wrapper d-flex align-items-center">
                <ul class="nav navbar-nav d-xl-none">
                    <li class="nav-item">
                        <a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav bookmark-icons">
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Dashboard" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="@Localizer.Get("Home")"><i class="ficon" data-feather="home"></i></a>
                    </li>
                    @* <li class="nav-item d-none d-lg-block"> *@
                    @*     <a class="nav-link" asp-action="Direction" asp-controller="Home" asp-area="Dashboard" *@
                    @*        asp-route-direction="@(ViewBag.horizontal ? "vertical" : "horizontal")" *@
                    @*        data-bs-toggle="tooltip" *@
                    @*        data-bs-placement="bottom"><i class="ficon"  *@
                    @*        data-feather="@(ViewBag.horizontal ? "arrow-up-circle" : "arrow-left-circle")"></i></a> *@
                    @* </li> *@
                </ul>
            </div>
            <ul class="nav navbar-nav align-items-center ms-auto">
                <li class="nav-item ">
                    <a class="nav-link btn btn-light p-50"
                       asp-action="Culture"
                       asp-controller="Home"
                       asp-area="Dashboard"
                       asp-route-culture="@Localizer.Get(ViewDataConstants.English)">
                        @Localizer.Get(ViewDataConstants.English)
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link nav-link-style"
                       asp-action="Theme"
                       asp-controller="Home"
                       asp-area="Dashboard"
                       asp-route-theme="@(ViewBag.light ? "dark" : "light")">
                        <i class="ficon"
                           data-feather="@(ViewBag.light ? "moon" : "sun")"></i>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-user">
                    <a class="nav-link dropdown-toggle dropdown-user-link"
                       id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user-nav d-sm-flex d-none">
                            <span class="user-name fw-bolder">@name</span><span class="user-status">@email</span>
                        </div>
                        <span class="avatar">
                            <img class="round"
                                 src="~/admin.png" height="40"
                                 width="40"><span class="avatar-status-online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Authentication" asp-area="Dashboard">
                            <i class="me-50" data-feather="key"></i> @Localizer.Get("Change Password")
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Authentication" asp-area="Dashboard"><i class="me-50" data-feather="power"></i> @Localizer.Get("Logout")</a>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
}
else
{
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-@(ViewBag.light?"light":"dark") navbar-shadow container-xxl">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <ul class="nav navbar-nav d-xl-none">
                <li class="nav-item">
                    <a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a>
                </li>
            </ul>
            <ul class="nav navbar-nav bookmark-icons">
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Dashboard" data-bs-toggle="tooltip"
                       data-bs-placement="bottom" title="@Localizer.Get("Home")"><i class="ficon" data-feather="home"></i></a>
                </li>
                @* <li class="nav-item d-none d-lg-block"> *@
                @*     <a class="nav-link" asp-action="Direction" asp-controller="Home" asp-area="Dashboard" *@
                @*        asp-route-direction="@(ViewBag.horizontal ? "vertical" : "horizontal")" *@
                @*        data-bs-toggle="tooltip" *@
                @*        data-bs-placement="bottom"><i class="ficon"  *@
                @*        data-feather="@(ViewBag.horizontal ? "arrow-up-circle" : "arrow-left-circle")"></i></a> *@
                @* </li> *@
            </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
            
            <li class="nav-item dropdown dropdown-user">
                <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ficon" data-feather="globe"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" asp-route-culture="ar" asp-action="Culture" asp-controller="Home" asp-area="Dashboard">
                        @Localizer.Get("ar")
                    </a>
                    @{ int i = 0;}
                    @foreach (DBModelsEnum.LanguageEnum language in Enum.GetValues(typeof(DBModelsEnum.LanguageEnum)))
                    {
                        <a class="dropdown-item" asp-route-culture="@language.ToString()" asp-action="Culture" asp-controller="Home" asp-area="Dashboard">
                            @Localizer.Get(language.ToString())
                        </a>
                        i++;
                    }
                </div>
            </li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link nav-link-style"
                   asp-action="Theme"
                   asp-controller="Home"
                   asp-area="Dashboard"
                   asp-route-theme="@(ViewBag.light?"dark":"light")">
                    <i class="ficon"
                       data-feather="@(ViewBag.light?"moon":"sun")"></i>
                </a>
            </li>
            <li class="nav-item dropdown dropdown-user">
                <a class="nav-link dropdown-toggle dropdown-user-link"
                   id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-nav d-sm-flex d-none">
                        <span class="user-name fw-bolder">@name</span><span class="user-status">@email</span>
                    </div>
                    <span class="avatar">
                        <img class="round"
                             src="~/admin.png"  height="40"
                             width="40"><span class="avatar-status-online"></span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Authentication" asp-area="Dashboard">
                        <i class="me-50" data-feather="key"></i> @Localizer.Get("Change Password")
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Authentication" asp-area="Dashboard"><i class="me-50" data-feather="power"></i> @Localizer.Get("Logout")</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
    <!-- END: Header-->
}