@{
    ViewBag.ltr = CultureInfo.CurrentUICulture.Name != ViewDataConstants.Arabic;
    ViewBag.light = ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Theme] == null || ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Theme].ToString() == ViewDataConstants.Light;
    // ViewBag.horizontal = (ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Direction] == null || ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Direction].ToString() == ViewDataConstants.Horizontal);
    ViewBag.horizontal = false;

    ViewBag.useDatatable = (ViewBag.useDatatable != null && ViewBag.useDatatable == true);
    ViewBag.useForm = (ViewBag.useForm != null && ViewBag.useForm == true);
    ViewBag.useModels = (ViewBag.useModels != null && ViewBag.useModels == true);
    ViewBag.useSummernote = (ViewBag.useSummernote != null && ViewBag.useSummernote == true);
    ViewBag.useCharts = (ViewBag.useCharts != null && ViewBag.useCharts == true);
    ViewBag.useDropzone = (ViewBag.useDropzone != null && ViewBag.useDropzone == true);
    ViewBag.emptyLayout = (ViewBag.emptyLayout != null && ViewBag.emptyLayout == true);
    ViewBag.useImageUploud = (ViewBag.useImageUploud != null && ViewBag.useImageUploud == true);
    ViewBag.useDatePicker = (ViewBag.useDatePicker != null && ViewBag.useDatePicker == true);
    ViewBag.useFormRepeater = (ViewBag.useFormRepeater != null && ViewBag.useFormRepeater == true);
    ViewBag.useExport = (ViewBag.useExport != null && ViewBag.useExport == true);
    ViewBag.useLoader = true;
}
<!DOCTYPE html>
<html lang="en" data-textdirection="@(ViewBag.ltr?"ltr":"rtl")" class="loading @(ViewBag.light?"light":"dark")-layout">
<head>
    @await Html.PartialAsync("_title_meta")
    @await Html.PartialAsync("_styles")
    @RenderSection("styles", false)
</head>
<body class="@(ViewBag.horizontal ? "horizontal-layout horizontal-menu footer-static" : "vertical-layout vertical-menu-modern footer-fixed")  navbar-floating" data-open="hover" data-menu="@(ViewBag.horizontal ? "horizontal-menu" : "vertical-menu-modern")" data-col="">

    @if (ViewBag.useLoader)
    {
        <div id="cover-spin">
            <img class="loading-image" src="~/dashboard.png" alt="loading..">
        </div>
    }

    @if (!ViewBag.emptyLayout)
    {
        @await Html.PartialAsync("_header")
        ;
        @await Html.PartialAsync("_menu")
        ;
    }

    @RenderBody()

    @if (ViewBag.useModels)
    {
        await Html.RenderPartialAsync("Externalhtml/_labels");
        await Html.RenderPartialAsync("Externalhtml/_modals");
    }


    @if (!ViewBag.emptyLayout)
    {
        await Html.PartialAsync("_footer");
    }


    @RenderSection("externalhtml", required: false)

    @await Html.PartialAsync("_scripts")
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
