@using Entities.EnumData
@using Entities.AuthenticationModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string views = (string)ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Views];

    List<int> viewList = new List<int>();

    if (!string.IsNullOrWhiteSpace(views))
    {
        viewList = views.Split(",").Select(Int32.Parse).ToList();
    }

    string active = ViewBag.Active == null ? this.ViewContext.RouteData.Values["controller"].ToString() : ViewBag.Active;

    UserAuthenticatedDto auth = (UserAuthenticatedDto)Context.Items[ApiConstants.User];
}


<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-@(ViewBag.light ? "light" : "dark") menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                    <a class="navbar-brand"
                   asp-action="Index" asp-area="Dashboard" asp-controller="Home">
                        <h2 class="brand-text">@Localizer.Get("Dashboard")</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                        <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                @if (viewList.Contains((int)DashboardViewEnum.Account))
                {
                    <li class=" navigation-header">
                        <span data-i18n="User Interface">@Localizer.Get("Main")</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                    </li>
                }

                @if (viewList.Contains((int)DashboardViewEnum.Account))
                {
                    <li class="@(active == DashboardViewEnum.Account.ToString() ? "active" : "") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="AccountEntity"
                   asp-controller="Account">
                            <i data-feather='users'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("Accounts")
                            </span>
                        </a>
                    </li>
                }
            
                @if (viewList.Contains((int)DashboardViewEnum.Post))
                {
                    <li class="@(active == DashboardViewEnum.Post.ToString() ? "active" : "") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="PostEntity"
                   asp-controller="Post">
                            <i data-feather='send'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("Posts")
                            </span>
                        </a>
                    </li>
                }
            
                @if (viewList.Contains((int)DashboardViewEnum.Hotel))
                {
                    <li class="@(active == DashboardViewEnum.Hotel.ToString() ? "active" : "") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="HotelEntity"
                   asp-controller="Hotel">
                            <i data-feather='figma'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("Hotels")
                            </span>
                        </a>
                    </li>
                }
            
                @if (viewList.Contains((int)DashboardViewEnum.CompanyTrip))
                {
                    <li class="@(active == DashboardViewEnum.CompanyTrip.ToString() ? "active" : "") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="CompanyTripEntity"
                   asp-controller="CompanyTrip">
                            <i data-feather='zap'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("CompanyTrips")
                            </span>
                        </a>
                    </li>
                }
            
            @if (viewList.Contains((int)DashboardViewEnum.Trip))
                {
                    <li class="@(active == DashboardViewEnum.Trip.ToString() ? "active" : "") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="TripEntity"
                   asp-controller="Trip">
                            <i data-feather='sunrise'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("Trips")
                            </span>
                        </a>
                    </li>
                }

                <li class=" navigation-header">
                    <span data-i18n="User Interface">@Localizer.Get("Advanced Settings")</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </li>
                @if (viewList.Contains((int)DashboardViewEnum.AccountType) ||
               viewList.Contains((int)DashboardViewEnum.AccountState))
                {

                    <li class=" nav-item">
                        <a class="d-flex align-items-center" href="#">
                            <i data-feather='users'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Account Data")</span>
                        </a>
                        <ul class="menu-content">

                            @if (viewList.Contains((int)DashboardViewEnum.AccountType))
                            {

                                <li class="@(active == DashboardViewEnum.AccountType.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="AccountType" asp-area="AccountEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("AccountTypes")</span>
                                    </a>
                                </li>
                            }
                            @if (viewList.Contains((int)DashboardViewEnum.AccountState))
                            {

                                <li class="@(active == DashboardViewEnum.AccountState.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="AccountState" asp-area="AccountEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("AccountStates")</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                }

                         @if (viewList.Contains((int)DashboardViewEnum.HotelFeature) ||
               viewList.Contains((int)DashboardViewEnum.HotelFeatureCategory))
                {

                    <li class=" nav-item">
                        <a class="d-flex align-items-center" href="#">
                            <i data-feather='star'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Hotel Data")</span>
                        </a>
                        <ul class="menu-content">

                            @if (viewList.Contains((int)DashboardViewEnum.HotelFeatureCategory))
                            {

                                <li class="@(active == DashboardViewEnum.HotelFeatureCategory.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="HotelFeatureCategory" asp-area="HotelEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("HotelFeatureCategories")</span>
                                    </a>
                                </li>
                            }
                          
                            @if (viewList.Contains((int)DashboardViewEnum.HotelFeature))
                            {

                                <li class="@(active == DashboardViewEnum.HotelFeature.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="HotelFeature" asp-area="HotelEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("HotelFeatures")</span>
                                    </a>
                                </li>
                            }
                            
                         

                        </ul>
                    </li>
                }



                
                         @if (viewList.Contains((int)DashboardViewEnum.CarCategory) ||
               viewList.Contains((int)DashboardViewEnum.CarClass))
                {

                    <li class=" nav-item">
                        <a class="d-flex align-items-center" href="#">
                         <i data-feather='truck'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Car Data")</span>
                        </a>
                        <ul class="menu-content">

                            @if (viewList.Contains((int)DashboardViewEnum.CarCategory))
                            {

                                <li class="@(active == DashboardViewEnum.CarCategory.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="CarCategory" asp-area="CarEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("CarCategories")</span>
                                    </a>
                                </li>
                            }
                          
                            @if (viewList.Contains((int)DashboardViewEnum.CarClass))
                            {

                                <li class="@(active == DashboardViewEnum.CarClass.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="CarClass" asp-area="CarEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("CarClasses")</span>
                                    </a>
                                </li>
                            }
                            
                         

                        </ul>
                    </li>
                }



                @if (viewList.Contains((int)DashboardViewEnum.TripState))
                {

                    <li class=" nav-item">
                        <a class="d-flex align-items-center" href="#">
                          <i data-feather='sunrise'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Trip Data")</span>
                        </a>
                        <ul class="menu-content">

                            @if (viewList.Contains((int)DashboardViewEnum.TripState))
                            {

                                <li class="@(active == DashboardViewEnum.TripState.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="TripState" asp-area="TripEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("TripStates")</span>
                                    </a>
                                </li>
                            }

                          

                        </ul>
                    </li>
                }


                @if (viewList.Contains((int)DashboardViewEnum.CompanyTripState) ||
                     viewList.Contains((int)DashboardViewEnum.CompanyTripBookingState))
                {

                    <li class=" nav-item">
                        <a class="d-flex align-items-center" href="#">
                            <i data-feather='sunrise'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Company Trip Data")</span>
                        </a>
                        <ul class="menu-content">

                            @if (viewList.Contains((int)DashboardViewEnum.CompanyTripState))
                            {

                                <li class="@(active == DashboardViewEnum.CompanyTripState.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="CompanyTripState" asp-area="CompanyTripEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("CompanyTripStates")</span>
                                    </a>
                                </li>
                            }
                            
                            @if (viewList.Contains((int)DashboardViewEnum.CompanyTripBookingState))
                            {

                                <li class="@(active == DashboardViewEnum.CompanyTripBookingState.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="CompanyTripBookingState" asp-area="CompanyTripEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("CompanyTripBookingStates")</span>
                                    </a>
                                </li>
                            }



                        </ul>
                    </li>
                }



                @if (viewList.Contains((int)DashboardViewEnum.Supplier) ||
               viewList.Contains((int)DashboardViewEnum.Country) ||
               viewList.Contains((int)DashboardViewEnum.Area) ||
               viewList.Contains((int)DashboardViewEnum.Currency))
                {

                    <li class=" nav-item">
                        <a class="d-flex align-items-center" href="#">
                          <i data-feather='alert-circle'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Main Data")</span>
                        </a>
                        <ul class="menu-content">

                            @if (viewList.Contains((int)DashboardViewEnum.Country))
                            {

                                <li class="@(active == DashboardViewEnum.Country.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="Country" asp-area="MainDataEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Countries")</span>
                                    </a>
                                </li>
                            }
                          
                            @if (viewList.Contains((int)DashboardViewEnum.Area))
                            {

                                <li class="@(active == DashboardViewEnum.Area.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="Area" asp-area="MainDataEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Areas")</span>
                                    </a>
                                </li>
                            }
                            
                            @if (viewList.Contains((int)DashboardViewEnum.Currency))
                            {

                                <li class="@(active == DashboardViewEnum.Currency.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="Currency" asp-area="MainDataEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Currencies")</span>
                                    </a>
                                </li>
                            }

                            @if (viewList.Contains((int)DashboardViewEnum.Supplier))
                            {

                                <li class="@(active == DashboardViewEnum.Supplier.ToString()?"active":"")">
                                    <a class="d-flex align-items-center" asp-controller="Supplier" asp-area="MainDataEntity" asp-action="Index">
                                        <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Suppliers")</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                }


                @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrator))
                {
                    <li class=" navigation-header">
                        <span data-i18n="User Interface">@Localizer.Get("DashboardAdministration")</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                    </li>

                    @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrator))
                    {

                        <li class="@(active ==DashboardViewEnum.DashboardAdministrator.ToString()?"active":"") nav-item">
                            <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="DashboardAdministration"
                   asp-controller="DashboardAdministrator">
                                <i data-feather='shield'></i>
                                <span class="menu-title text-truncate">
                                    @Localizer.Get("DashboardAdministrators")
                                </span>
                            </a>
                        </li>
                    }

                    @if (viewList.Contains((int)DashboardViewEnum.DashboardAccessLevel))
                    {

                        <li class="@(active ==DashboardViewEnum.DashboardAccessLevel.ToString()?"active":"") nav-item">
                            <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="DashboardAdministration"
                   asp-controller="DashboardAccessLevel">
                                <i data-feather='key'></i>
                                <span class="menu-title text-truncate">
                                    @Localizer.Get("DashboardAccessLevels")
                                </span>
                            </a>
                        </li>
                    }

                    @if (viewList.Contains((int)DashboardViewEnum.DashboardView))
                    {

                        <li class="@(active ==DashboardViewEnum.DashboardView.ToString()?"active":"") nav-item">
                            <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="DashboardAdministration"
                   asp-controller="DashboardView">
                                <i data-feather='grid'></i>
                                <span class="menu-title text-truncate">
                                    @Localizer.Get("DashboardViews")
                                </span>
                            </a>
                        </li>
                    }

                    @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrationRole))
                    {
                        <li class="@(active == DashboardViewEnum.DashboardAdministrationRole.ToString() ? "active" : "") nav-item">
                            <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="DashboardAdministration"
                   asp-controller="DashboardAdministrationRole">
                                <i data-feather='settings'></i>
                                <span class="menu-title text-truncate">
                                    @Localizer.Get("DashboardAdministrationRoles")
                                </span>
                            </a>
                        </li>
                    }
                }

                @if (viewList.Contains((int)DashboardViewEnum.DBLogs) ||
               viewList.Contains((int)DashboardViewEnum.Audit))
                {
                    <li class=" navigation-header">
                        <span data-i18n="User Interface">@Localizer.Get("system")</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                    </li>
                }

                @if (viewList.Contains((int)DashboardViewEnum.DBLogs))
                {
                    <li class="@(active ==DashboardViewEnum.DBLogs.ToString()?"active":"") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="LogEntity"
                   asp-controller="DBLogs">
                            <i data-feather='x-circle'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("Logs")
                            </span>
                        </a>
                    </li>
                }

                @if (viewList.Contains((int)DashboardViewEnum.Audit))
                {
                    <li class="@(active ==DashboardViewEnum.Audit.ToString()?"active":"") nav-item">
                        <a class="d-flex align-items-center"
                   asp-action="Index" asp-area="AuditEntity"
                   asp-controller="Audit">
                            <i data-feather='file-text'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("Audits")
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
