@model Entities.AuthenticationModels.UserForAuthenticationDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

}
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">
                <div class="auth-inner my-2">
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <a class="brand-logo">
                                <img src="~/dashboard.png" style="height:38px" />
                                <h2 class="brand-text text-primary ms-1">@Localizer.Get("Dashboard")</h2>
                            </a>

                            <h4 class="card-title mb-1 text-center">@Localizer.Get("Welcome to dashboard")! 👋</h4>
                            <p class="card-text mb-2 text-center">@Localizer.Get("Please sign-in to your account and start the adventure")</p>

                            <form class="auth-login-form mt-2" asp-action="Login">
                                <div asp-validation-summary="All" class="text-danger">@ViewData["error"]</div>
                                <div class="mb-1">
                                    <label class="form-label" asp-for="UserName"></label>
                                    <input class="form-control" asp-for="UserName" autofocus="" tabindex="1" />
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" asp-for="Password"></label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input class="form-control form-control-merge" asp-for="Password" placeholder="············" tabindex="2" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <button class="btn btn-primary w-100" tabindex="4">@Localizer.Get("Sign in")</button>
                            </form>

                            <div class="divider my-2">
                                <div class="divider-text"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>

        </div>
    </div>
</div>