@model DashboardAdministratorDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">@Localizer.Get("DashboardAdministrator")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.User.Name):</dt>
                <dd class="col-sm-8 mb-1">@Model.User.Name</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.User.EmailAddress):</dt>
                <dd class="col-sm-8 mb-1">@Model.User.EmailAddress</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.JobTitle):</dt>
                <dd class="col-sm-8 mb-1">@Model.JobTitle</dd>

               
            </dl>
        </div>
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.User.UserName):</dt>
                <dd class="col-sm-8 mb-1">@Model.User.UserName</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.User.PhoneNumber):</dt>
                <dd class="col-sm-8 mb-1">@Model.User.PhoneNumber</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.DashboardAdministrationRole.Name):</dt>
                <dd class="col-sm-8 mb-1">@Model.DashboardAdministrationRole.Name</dd>

                
            </dl>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedAt</dd>
            </dl>
        </div>

        <div class="col-xl-7 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedBy</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedBy</dd>
            </dl>
        </div>

    </div>
</div>

