@model TripDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">@Localizer.Get("Trip")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Client):</dt>
                <dd class="col-sm-8 mb-1">@Model.Client?.User?.Name</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Driver):</dt>
                <dd class="col-sm-8 mb-1">@Model.Driver?.User?.Name</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.TripState):</dt>
                <dd class="col-sm-8 mb-1">@Model.TripState.Name</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.TripAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.TripAt</dd>
            </dl>
        </div>
        
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Supplier):</dt>
                <dd class="col-sm-8 mb-1">@Model.Supplier?.Name</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CarClass):</dt>
                <dd class="col-sm-8 mb-1">@Model.CarClass?.Name</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Price):</dt>
                <dd class="col-sm-8 mb-1">@Model.Price</dd>
            </dl>
        </div>
       
    </div>

    <hr />
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedBy</dd>
            </dl>
        </div>
        
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedAt</dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedBy</dd>
            </dl>
        </div>
    
    </div>


</div>

