@model TripFilter
@{
    ViewData["Title"] = Localizer.Get("Advanced Search");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;

}


<div class="collapse" id="AdvancedFilter">
    <div class="card-header border-bottom">
        <h4 class="card-title">@Localizer.Get("Advanced Search")</h4>
    </div>

    <div class="card-body mt-2">
        <form asp-action="LoadTable" class="filter">
      
            <div class="row g-1 mb-md-1">
                
                <div class="col-md-6 col-12">
                    <div class="mb-1">
                        <label asp-for="Fk_Supplier" class="form-label"></label>
                        <select asp-for="Fk_Supplier" class="select2 form-select"
                                asp-items="@(new SelectList(ViewData["Suppliers"] as Dictionary<string, string>, "Key", "Value"))">
                            <option value="">@Localizer.Get("Not Selected")</option>
                        </select>
                        <span asp-validation-for="Fk_Supplier" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-md-6 col-12">
                    <div class="mb-1">
                        <label asp-for="Fk_Driver" class="form-label"></label>
                        <select asp-for="Fk_Driver" class="select2 form-select">
                            <option value="">@Localizer.Get("Not Selected")</option>
                        </select>
                        <span asp-validation-for="Fk_Driver" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-md-6 col-12">
                    <div class="mb-1">
                        <label asp-for="Fk_CarClass" class="form-label"></label>
                        <select asp-for="Fk_CarClass" class="select2 form-select"
                                asp-items="@(new SelectList(ViewData["CarClasses"] as Dictionary<string, string>, "Key", "Value"))">
                            <option value="">@Localizer.Get("Not Selected")</option>
                        </select>
                        <span asp-validation-for="Fk_CarClass" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-md-6 col-12">
                    <div class="mb-1">
                        <label asp-for="Fk_TripState" class="form-label"></label>
                        <select asp-for="Fk_TripState" class="select2 form-select"
                                asp-items="@(new SelectList(ViewData["TripStates"] as Dictionary<string, string>, "Key", "Value"))">
                            <option value="">@Localizer.Get("Not Selected")</option>
                        </select>
                        <span asp-validation-for="Fk_TripState" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <hr />
            <br />
            <div class="row g-1 mb-md-1">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">@Localizer.Get("Search")</button>
                    <button type="reset" class="btn btn-outline-secondary">@Localizer.Get("Reset")</button>

                </div>
            </div>
        </form>
    </div>

    <!-- END: Content-->
</div>

