@using Entities.EnumData
@model TripFilter
@{
    ViewData["Title"] = Localizer.Get("Trips");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useDatatable = true;
    ViewBag.useModels = true;
    ViewBag.useForm = true;
    ViewBag.useDatePicker = true;
    ViewBag.useCharts = true;
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new TripDto();
    int returnItem = ViewData["returnItem"] != null ? (int)ViewData["returnItem"] : (int)DBModelsEnum.TripReturnItems.Index;
    
    ViewBag.emptyLayout = ViewData["ProfileLayOut"] != null && (bool)ViewData["ProfileLayOut"];
}

@if (!ViewBag.emptyLayout)
{
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">@Localizer.Get("Dashboard")</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        @ViewData["Title"]
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-body">
                <section id="ajax-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title"> @ViewData["Title"]</h4>
                                </div>
                                <p class="m-2 demo-inline-spacing">
                                    <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#AdvancedFilter" role="button" aria-expanded="false" aria-controls="AdvancedFilter">
                                        <i data-feather='filter'></i>
                                        @Localizer.Get("Advanced Search")
                                    </a>

                                </p>
                                @{
                                    await Html.RenderPartialAsync("../Trip/Filter", Model, ViewData);
                                }
                                <div class="card-datatable">
                                    <table class="datatables datatables-ajax table table-responsive table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => row.Id)

                                                    @if (accessLevel.ViewAccess)
                                                    {
                                                        <a id="profile" asp-action="Profile">
                                                        </a>
                                                    }
                                                    
                                                    @if (accessLevel.ExportAccess)
                                                    {
                                                        <a id="export" href="export">
                                                        </a>
                                                    }

                                                    @if (accessLevel.EditAccess)
                                                    {
                                                        <a id="edit" asp-action="CreateOrEdit">
                                                        </a>
                                                    }
                                                    @if (accessLevel.DeleteAccess)
                                                    {
                                                        <a id="delete" asp-action="Delete">
                                                        </a>
                                                    }

                                                </th>
                                                <th>@Html.DisplayNameFor(model => row.Client)</th>
                                                <th>@Html.DisplayNameFor(model => row.Driver)</th>
                                                <th>@Html.DisplayNameFor(model => row.Supplier)</th>
                                                <th>@Html.DisplayNameFor(model => row.TripState)</th>
                                                <th>@Html.DisplayNameFor(model => row.Price)</th>
                                                <th>@Html.DisplayNameFor(model => row.CarClass)</th>
                                                <th>@Html.DisplayNameFor(model => row.MembersCount)</th>
                                                <th>@Html.DisplayNameFor(model => row.TripAt)</th>
                                                <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => row.Id)
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
    <!-- END: Content-->
}
else
{
    <section id="ajax-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title"> @ViewData["Title"]</h4>
                    </div>
                    <p class="m-2 demo-inline-spacing">
                        <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#AdvancedFilter" role="button" aria-expanded="false" aria-controls="AdvancedFilter">
                            <i data-feather='filter'></i>
                            @Localizer.Get("Advanced Search")
                        </a>

                    </p>
                    @{
                        await Html.RenderPartialAsync("../Trip/Filter", Model, ViewData);
                    }
                    <div class="card-datatable">
                        <table class="datatables datatables-ajax table table-responsive table">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => row.Id)

                                    @if (accessLevel.ViewAccess)
                                    {
                                        <a id="profile" asp-action="Profile">
                                        </a>
                                    }
                                                    
                                    @if (accessLevel.ExportAccess)
                                    {
                                        <a id="export" href="export">
                                        </a>
                                    }

                                    @if (accessLevel.EditAccess)
                                    {
                                        <input type="hidden" id="routeData" value="?fk_Account=@Model.Fk_Account&returnItem=@returnItem" />
                                        <a id="edit" asp-action="CreateOrEdit">
                                        </a>
                                    }
                                    @if (accessLevel.DeleteAccess)
                                    {
                                        <a id="delete" asp-action="Delete">
                                        </a>
                                    }

                                </th>
                                <th>@Html.DisplayNameFor(model => row.Client)</th>
                                <th>@Html.DisplayNameFor(model => row.Driver)</th>
                                <th>@Html.DisplayNameFor(model => row.Supplier)</th>
                                <th>@Html.DisplayNameFor(model => row.TripState)</th>
                                <th>@Html.DisplayNameFor(model => row.Price)</th>
                                <th>@Html.DisplayNameFor(model => row.CarClass)</th>
                                <th>@Html.DisplayNameFor(model => row.MembersCount)</th>
                                <th>@Html.DisplayNameFor(model => row.TripAt)</th>
                                <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                <th>
                                    @Html.DisplayNameFor(model => row.Id)
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts {
    <script src="~/apis/site.js"></script>
    
    <script>
        function LoadTable() {
            var dt_ajax_table = $('.datatables');
            if (dt_ajax_table.length) {
                var dt_ajax = dt_ajax_table.dataTable({
                    // Ajax Filter
                    ajax: {
                        url: '@Url.Action("LoadTable")',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (data) {
                            data.Id = @Model.Id;
                            data.Fk_Account = @Model.Fk_Account;
                            data.Fk_Client = $("#Fk_Client").length > 0 ? $("#Fk_Client").val() : '@Model.Fk_Client';
                            data.Fk_CarClass = $("#Fk_CarClass").length > 0 ? $("#Fk_CarClass").val() : '@Model.Fk_CarClass';
                            data.Fk_Driver = $("#Fk_Driver").length > 0 ? $("#Fk_Driver").val() : '@Model.Fk_Driver';
                            data.Fk_Supplier = $("#Fk_Supplier").length > 0 ? $("#Fk_Supplier").val() : '@Model.Fk_Supplier';
                            data.Fk_TripState = $("#Fk_TripState").length > 0 ? $("#Fk_TripState").val() : '@Model.Fk_TripState';

                            return JSON.stringify(data);
                        }
                    },
                    // Columns Setups
                    columns: [
                        { data: "id" },
                        { data: "client", render: function(data,type,row) {
                          if (data != null && data.user != null) {
                                    if (data.imageUrl != null && data.imageUrl != '') {

                                        return '<div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                            + '<img src="' + data.imageUrl + '"  height="32" width="32">'

                                            + '</div></div>'
                                            + ' <div class= "d-flex flex-column">'
                                            + '<a  href="/AccountEntity/Account/Profile/' + row.fk_Client + '" class= "user_name text-truncate">'
                                            + '<span class= "fw-bolder">' + data.user.name + '</span> '
                                            + '<small class= "emp_post text-muted" ></small ></div></div>';
                                    }
                                    else {
                                        return '<div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                            + '<img src="/userImg.png"  height="32" width="32">'

                                            + '</div></div>'
                                            + ' <div class= "d-flex flex-column">'
                                            + '<a  href="/AccountEntity/Account/Profile/' + row.fk_Client + '" class= "user_name text-truncate">'
                                            + '<span class= "fw-bolder">' + data.user.name + '</span> '
                                            + '<small class= "emp_post text-muted" ></small ></div></div>';
                                    }
                          } 
                          
                          return '@Localizer.Get("Not Found")';
                        } },
                        { data: "driver", render: function(data,type,row) {
                          if (data != null && data.user != null) {
                               if (data.imageUrl != null && data.imageUrl != '') {

                                        return '<div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                            + '<img src="' + data.imageUrl + '"  height="32" width="32">'

                                            + '</div></div>'
                                            + ' <div class= "d-flex flex-column">'
                                            + '<a  href="/AccountEntity/Account/Profile/' + row.fk_Driver + '" class= "user_name text-truncate">'
                                            + '<span class= "fw-bolder">' + data.user.name + '</span> '
                                            + '<small class= "emp_post text-muted" ></small ></div></div>';
                                    }
                                    else {
                                        return '<div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                            + '<img src="/userImg.png"  height="32" width="32">'

                                            + '</div></div>'
                                            + ' <div class= "d-flex flex-column">'
                                            + '<a  href="/AccountEntity/Account/Profile/' + row.fk_Driver + '" class= "user_name text-truncate">'
                                            + '<span class= "fw-bolder">' + data.user.name + '</span> '
                                            + '<small class= "emp_post text-muted" ></small ></div></div>';
                                    }
                          } 
                          
                          return '@Localizer.Get("Not Found")';
                        } },
                        { data: "supplier", render: function(data) {
                          if (data != null) {
                            return data.name;
                          } 
                          
                          return '@Localizer.Get("Not Found")';
                        } },
                        {
                            data: "tripState",
                            orderable: false,
                            render: function (data) {
                                if (data.colorCode == "#fff"
                                    || data.colorCode == "#ffff"
                                    || data.colorCode == ""
                                    || data.colorCode == null) {
                                    return data.name;
                                }
                                else {
                                    return '<span class="badge  px-2 text-center" style="background-color:' + data.colorCode + ';color:white">' + data.name + '</span>';
                                }
                            }
                        },
                        { data: "price", render: function(data) {
                            return data.toFixed(2);
                        } },
                        { data: "carClass", render: function(data) {
                          if (data != null) {
                            return data.name;
                          } 
                          
                          return '@Localizer.Get("Not Found")';
                        } },
                        { data: "membersCount" },
                        { data: "tripAt" },
                        { data: "createdAt" },
                        { data: "id" },
                    ]
                });

                $("button[type=reset]").on("click", function () {
                    $(".dt-date").each(function () {
                        $(this).val('');
                    })
                });
                $('body').on('submit', '.filter', function () {
                    event.preventDefault();
                    dt_ajax_table.DataTable().draw();

                });

            }
    }

        $(document).ready(function () {
            LoadTable();

            $(".displayType").on('click', function () {
                if ($("#ajax-datatable").css('display') != 'none') {
                    $("#ajax-datatable").css('display', 'none');
                }
            });

        });
    
        // Other Logic
        $(document).on('change', '#Fk_Supplier', function() {
          getAccounts($('#Fk_Driver'), '@((int)DBModelsEnum.AccountTypeEnum.Driver)', false);
        });
</script>
}
