@model DashboardAccessLevelCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("DashboardAccessLevel")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
}


<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/DashboardAdministration/DashboardAccessLevel/Index">@Localizer.Get("DashboardAccessLevels")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form" asp-action="CreateOrEdit">

                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <div class="row">

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Name" class="form-label"></label>
                                                <input asp-for="Name" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Name{PropertyAttributeConstants.ArLang}"))" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="DashboardAccessLevelLang.Name" class="form-label"></label>
                                                <input asp-for="DashboardAccessLevelLang.Name" class="form-control" placeholder="@Localizer.Get("Enter")  @(Localizer.Get($"Name{PropertyAttributeConstants.EnLang}"))" />
                                                <span asp-validation-for="DashboardAccessLevelLang.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="CreateAccess" class="form-check-label" for="IsActive"></label>
                                                <input asp-for="CreateAccess" class="form-check-input" />
                                                <span asp-validation-for="CreateAccess" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="EditAccess" class="form-check-label" for="IsActive"></label>
                                                <input asp-for="EditAccess" class="form-check-input" />
                                                <span asp-validation-for="EditAccess" class="text-danger"></span>
                                            </div>
                                        </div>

                                          <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="DeleteAccess" class="form-check-label" for="IsActive"></label>
                                                <input asp-for="DeleteAccess" class="form-check-input" />
                                                <span asp-validation-for="DeleteAccess" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="ViewAccess" class="form-check-label" for="IsActive"></label>
                                                <input asp-for="ViewAccess" class="form-check-input" />
                                                <span asp-validation-for="ViewAccess" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="ExportAccess" class="form-check-label" for="IsActive"></label>
                                                <input asp-for="ExportAccess" class="form-check-input" />
                                                <span asp-validation-for="ExportAccess" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                            <a asp-action="Index" class="btn btn-warning"> @Localizer.Get("Back") </a>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>


    </div>
</div>
<!-- END: Content-->
