@using Entities.EnumData
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CompanyTripBookingCreateOrEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("CompanyTripBooking")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useImageUploud = true;
    ViewBag.useSummernote = true;
    ViewBag.formRepeater = true;
    
    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;
    int targetProfile = ViewData["targetProfile"] != null ? (int)ViewData["targetProfile"] : (int)DBModelsEnum.CompanyTripBookingCreateOrEditTargetProfile.CompanyTrip;
}
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/CompanyTripEntity/CompanyTrip/Profile/@Model.Fk_CompanyTrip">
                                        @Localizer.Get("CompanyTrip Profile")
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form invoice-repeater" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <div class="row">
                                        <input type="hidden" asp-for="@targetProfile" />
                                       
                                        @if (targetProfile == (int)DBModelsEnum.CompanyTripBookingCreateOrEditTargetProfile.CompanyTrip)
                                        {
                                            <div class="col-md-12 col-12">
                                                <div class="mb-1">
                                                    <label asp-for="Fk_CompanyTrip" class="form-label"></label>
                                                    <select asp-for="Fk_CompanyTrip" class="select2 form-select" disabled
                                                            asp-items="@(new SelectList(ViewData["CompanyTrip"] as Dictionary<string, string>, "Key", "Value"))">
                                                    </select>
                                                    <input type="hidden" asp-for="Fk_CompanyTrip"/>
                                                    <span asp-validation-for="Fk_CompanyTrip" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12 col-12">
                                                <div class="mb-1">
                                                    <label asp-for="Fk_CompanyTrip" class="form-label"></label>
                                                    <select asp-for="Fk_CompanyTrip" class="select2 form-select"
                                                            asp-items="@(new SelectList(ViewData["CompanyTrip"] as Dictionary<string, string>, "Key", "Value"))">
                                                    </select>
                                                    <span asp-validation-for="Fk_CompanyTrip" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                       
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Fk_Currency" class="form-label"></label>
                                                <select asp-for="Fk_Currency" class="select2 form-select"
                                                        asp-items="@(new SelectList(ViewData["Currency"] as Dictionary<string, string>, "Key", "Value"))">
                                                </select>
                                                <span asp-validation-for="Fk_Currency" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Fk_CompanyTripBookingState" class="form-label"></label>
                                                <select asp-for="Fk_CompanyTripBookingState" class="select2 form-select"
                                                        asp-items="@(new SelectList(ViewData["CompanyTripBookingState"] as Dictionary<string, string>, "Key", "Value"))">
                                                </select>
                                                <span asp-validation-for="Fk_CompanyTripBookingState" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        @if (Model.Fk_Account > 0 || targetProfile == (int)DBModelsEnum.CompanyTripBookingCreateOrEditTargetProfile.Account)
                                        {
                                            <div class="col-md-6 col-12">
                                                <div class="mb-1">
                                                    <label asp-for="Fk_Account" class="form-label"></label>
                                                    <input type="hidden" asp-for="Fk_Account"/>
                                                    <select asp-for="Fk_Account" class="select2 form-select" disabled>
                                                    </select>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-6 col-12">
                                                <div class="mb-1">
                                                    <label asp-for="Fk_Account" class="form-label"></label>
                                                    <select asp-for="Fk_Account" class="select2 form-select">
                                                    </select>
                                                    <span asp-validation-for="Fk_Account" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Price" class="form-label"></label>
                                                <input asp-for="Price" class="form-control" placeholder="@Localizer.Get("Enter") @Localizer.Get("Price")" />
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-12">
                                            <div class="mb-1">
                                                <label asp-for="CurrencyRate" class="form-label"></label>
                                                <input type="number" asp-for="CurrencyRate" class="form-control" placeholder="@Localizer.Get("Enter") @Localizer.Get("CurrencyRate")" />
                                                <span asp-validation-for="CurrencyRate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-12">
                                            <div class="mb-1">
                                                <label asp-for="MembersCount" class="form-label"></label>
                                                <input type="number" asp-for="MembersCount" class="form-control" placeholder="@Localizer.Get("Enter") @Localizer.Get("MembersCount")" />
                                                <span asp-validation-for="MembersCount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-12">
                                            <div class="mb-1">
                                                <label asp-for="MembersDiscount" class="form-label"></label>
                                                <input asp-for="MembersDiscount" class="form-control" placeholder="@Localizer.Get("Enter") @Localizer.Get("MembersDiscount")" />
                                                <span asp-validation-for="MembersDiscount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Date" class="form-label"></label>
                                                <input type="date" asp-for="Date" class="form-control" placeholder="@Localizer.Get("Enter") @Localizer.Get("Date")" />
                                                <span asp-validation-for="Date" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Notes" class="form-label"></label>
                                                <textarea class="form-control" asp-for="Notes" placeholder="@Localizer.Get("Enter") @Localizer.Get("Notes")"></textarea>
                                                <span asp-validation-for="Notes" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        
                                        <hr/>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                            
                                            <a asp-route-id="@Model.Fk_CompanyTrip" asp-action="Profile" asp-controller="CompanyTrip"
                                               asp-route-returnItem="@((int)DBModelsEnum.CompanyTripProfileItems.CompanyTripBooking)"
                                               class="btn btn-warning"> @Localizer.Get("Back") </a>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
<!-- END: Content-->

@section scripts
{
    <script src="~/apis/site.js"></script>
    <script>
        $(document).ready(function() {
            
          $("select#Fk_Account").select2({
             ajax: {
                url: "@Url.ActionLink("GetAccountsByFilters", "Services", new { area = "Dashboard" })",
                dataType: "json",
                type: 'post',
                quietMillis: 50,
                data: function (params) {
                  let query = {
                    name: params.term,
                    fk_AccountType: '@((int)DBModelsEnum.AccountTypeEnum.Client)'
                  }
            
                  // Query parameters will be ?search=[term]&type=public
                  return query;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item, index) {
                            
                            return {
                                id: item.id,
                                text: `${item.user.name} | ${item.phone}`
                            }
                        })
                    };
                }
            }
          });
          
        });
        
    </script>


    @if (Model.Fk_Account != null)
    {
        <script>
            $.ajax({
                url: "@Url.ActionLink("GetAccountsByFilters", "Services", new { area = "Dashboard" })",
                method: "post",
                data: {
                  id: '@Model.Fk_Account',
                },
                success: function (data) {
                    let item = data[0];
                    
                    $("select#Fk_Account").html(`<option selected value="${item.id}">${item.user.name}</option>`);
                }
              });
        </script>
    }
}