@using Entities.EnumData
@model CompanyTripBookingFilter
@{
    ViewData["Title"] = Localizer.Get("CompanyTripBooking");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useDatatable = true;
    ViewBag.useModels = true;
    ViewBag.useForm = true;
    ViewBag.useDatePicker = true;
    ViewBag.useCharts = true;
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new CompanyTripBookingDto();
    ViewBag.emptyLayout = ViewData["ProfileLayOut"] != null && (bool)ViewData["ProfileLayOut"];

    int targetProfile = ViewData["targetProfile"] != null ? (int)ViewData["targetProfile"] : 0;
}

@if (!ViewBag.emptyLayout)
{
    <!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">@Localizer.Get("Dashboard")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="ajax-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title"> @ViewData["Title"]</h4>
                            </div>
                            
                            <p class="m-2 demo-inline-spacing">
                                <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#AdvancedFilter" role="button" aria-expanded="false" aria-controls="AdvancedFilter">
                                    <i data-feather='filter'></i>
                                    @Localizer.Get("Advanced Search")
                                </a>
        
                            </p>
                            @{
                                await Html.RenderPartialAsync("../CompanyTripBooking/Filter", Model, ViewData);
                            }
                            
                            <div class="card-datatable">
                                <table class="datatables datatables-ajax table table-responsive table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => row.Id)

                                                @if (accessLevel.ViewAccess)
                                                {
                                                    <a id="details" asp-action="Details">
                                                    </a>
                                                }
                                                
                                                @if (accessLevel.ExportAccess)
                                                {
                                                    <a id="export" href="export">
                                                    </a>
                                                }

                                                @if (accessLevel.CreateAccess)
                                                {
                                                    <a id="create" asp-action="CreateOrEdit">
                                                    </a>
                                                }

                                                @if (accessLevel.EditAccess)
                                                {
                                                    <a id="edit" asp-action="CreateOrEdit">
                                                    </a>
                                                }
                                                @if (accessLevel.DeleteAccess)
                                                {
                                                    <a id="delete" asp-action="Delete">
                                                    </a>
                                                }

                                            </th>
                                            <th>@Html.DisplayNameFor(model => row.Account)</th>
                                            <th>@Html.DisplayNameFor(model => row.Currency)</th>
                                            <th>@Html.DisplayNameFor(model => row.Price)</th>
                                            <th>@Html.DisplayNameFor(model => row.CurrencyRate)</th>
                                            <th>@Html.DisplayNameFor(model => row.MembersCount)</th>
                                            <th>@Html.DisplayNameFor(model => row.CompanyTripBookingState)</th>
                                            <th>@Html.DisplayNameFor(model => row.Date)</th>
                                            <th>@Localizer.Get("Histories")</th>
                                            <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                            <th>
                                                @Html.DisplayNameFor(model => row.Id)
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<!-- END: Content-->
}
else
{
    <section id="ajax-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title"> @ViewData["Title"]</h4>
                    </div>
                    
                  
                    
                    <div class="card-datatable">
                        <table class="datatables datatables-ajax table table-responsive table">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => row.Id)

                                    @if (accessLevel.ViewAccess)
                                    {
                                        <a id="details" asp-action="Details">
                                        </a>
                                    }
                                                
                                    @if (accessLevel.ExportAccess)
                                    {
                                        <a id="export" href="export">
                                        </a>
                                    }

                                    @if (accessLevel.CreateAccess)
                                    {
                                        <a id="create" asp-action="CreateOrEdit" 
                                           asp-route-fk_CompanyTrip="@Model.Fk_CompanyTrip"
                                           asp-route-fk_Account="@Model.Fk_Account"
                                           asp-route-targetProfile="@targetProfile">
                                        </a>
                                    }

                                    @if (accessLevel.EditAccess)
                                    {
                                        if (targetProfile == (int)DBModelsEnum.CompanyTripBookingCreateOrEditTargetProfile.CompanyTrip)
                                        {
                                            <input type="hidden" id="routeData" value="?fk_CompanyTrip=@Model.Fk_CompanyTrip&targetProfile=@targetProfile" />
                                        }
                                        else
                                        {
                                            <input type="hidden" id="routeData" value="?fk_Account=@Model.Fk_Account&targetProfile=@targetProfile" />
                                        }
                                        <a id="edit" asp-action="CreateOrEdit">
                                        </a>
                                    }

                                    @if (accessLevel.DeleteAccess)
                                    {
                                        <a id="delete" asp-action="Delete">
                                        </a>
                                    }

                                </th>
                                <th>@Html.DisplayNameFor(model => row.Account)</th>
                                <th>@Html.DisplayNameFor(model => row.Currency)</th>
                                <th>@Html.DisplayNameFor(model => row.Price)</th>
                                <th>@Html.DisplayNameFor(model => row.CurrencyRate)</th>
                                <th>@Html.DisplayNameFor(model => row.MembersCount)</th>
                                <th>@Html.DisplayNameFor(model => row.CompanyTripBookingState)</th>
                                <th>@Html.DisplayNameFor(model => row.Date)</th>
                                <th>@Localizer.Get("Histories")</th>
                                <th>@Html.DisplayNameFor(model => row.CreatedAt)</th>
                                <th>
                                    @Html.DisplayNameFor(model => row.Id)
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<partial name="_historyModal" />

@section scripts{
    <script>
    function LoadTable(){
            var dt_ajax_table = $('.datatables');
            if (dt_ajax_table.length) {
                var dt_ajax = dt_ajax_table.dataTable({
                    // Ajax Filter
                    ajax: {
                        url: '@Url.Action("LoadTable")',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (data) {
                            data.Id = @Model.Id;
                            data.Fk_Account = @Model.Fk_Account;
                            data.Fk_CompanyTrip = @Model.Fk_CompanyTrip;
                            data.Fk_Currency = $("#Fk_Currency").length > 0 ? $("#Fk_Currency").val() : '@Model.Fk_Currency';
                            data.Fk_CompanyTripBookingState = $("#Fk_CompanyTripBookingState").length > 0 ? $("#Fk_CompanyTripBookingState").val() : '@Model.Fk_CompanyTripBookingState';
                            data.DateFrom = $("#DateFrom").length > 0 ? $("#DateFrom").val() : '@Model.DateFrom';
                            data.DateTo = $("#DateTo").length > 0 ? $("#DateTo").val() : '@Model.DateTo';

                            return JSON.stringify(data);
                        }
                    },
                    // Columns Setups
                    columns: [
                        { data: "id" },
                        {
                            data: "account",
                            render: function (data, type, row) {
                                if (data.imageUrl != null && data.imageUrl != '') {

                                    return '<div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                        + '<img src="' + data.imageUrl + '"  height="32" width="32">'

                                        + '</div></div>'
                                        + ' <div class= "d-flex flex-column">'
                                        + '<a  href="/AccountEntity/Account/Profile/' + row.fk_Account + '" class= "user_name text-truncate">'
                                        + '<span class= "fw-bolder">' + data.user.name + '</span> '
                                        + '<small class= "emp_post text-muted" ></small ></div></div>';
                                }
                                else {
                                    return '<div class="d-flex justify-content-left align-items-center"><div class= "avatar-wrapper" ><div class="avatar me-1">'
                                        + '<img src="/userImg.png"  height="32" width="32">'

                                        + '</div></div>'
                                        + ' <div class= "d-flex flex-column">'
                                        + '<a  href="/AccountEntity/Account/Profile/' + row.fk_Account + '" class= "user_name text-truncate">'
                                        + '<span class= "fw-bolder">' + data.user.name + '</span> '
                                        + '<small class= "emp_post text-muted" ></small ></div></div>';
                                }


                            }
                        },
                        { data: "currency.name" },
                        { data: "price" },
                        { data: "currencyRate" },
                        { data: "membersCount" },
                              {
                            data: "companyTripBookingState",
                            orderable: false,
                            render: function (data) {
                                if (data.colorCode == "#fff"
                                    || data.colorCode == "#ffff"
                                    || data.colorCode == ""
                                    || data.colorCode == null) {
                                    return data.name;
                                }
                                else {
                                    return '<span class="badge  px-2 text-center" style="background-color:' + data.colorCode + ';color:white">' + data.name + '</span>';
                                }
                            }
                        },
                        { data: "date" },
                        { data: "id", render: function (data, type, row) {
                                return `<span type="button" class="badge badge-glow bg-success w-100 text-center open_history_modal" data-id="${data}">
                                    ${row.historiesCount}
                                  </span>`;
                        } },
                        { data: "createdAt" },
                        { data: "id" },
                    ]
                });

                $("button[type=reset]").on("click", function () {
                    $(".dt-date").each(function () {
                        $(this).val('');
                    })
                });
                $('body').on('submit', '.filter', function () {
                    event.preventDefault();
                    dt_ajax_table.DataTable().draw();

                });

            }
    }

        $(document).ready(function () {
            LoadTable();

            $(".displayType").on('click', function () {
                if ($("#ajax-datatable").css('display') != 'none') {
                    $("#ajax-datatable").css('display', 'none');
                }
            });
            
        });
    
        $(document).on("click", ".open_history_modal", function() {
          $('.history_modal').modal('show');
          
          let fk_CompanyTripBooking = $(this).data('id');
          
          $.ajax({
            url: '@Url.ActionLink("GetCompanyTripBookingHistoriesByFilters", "Services", new { area = "Dashboard" })',
            method: 'post',
            data: {
                fk_CompanyTripBooking: fk_CompanyTripBooking
            },
            success: function(data) {
              let rows = '';
              
              if (data.length > 0) {
                  data.forEach(row => {
                        rows += `<tr>                           
                                      <td>${row.id}</td>
                                      <td>${row.companyTripBookingState.name}</td>
                                      <td>${row.notes ?? "@Localizer.Get("Not Found")"}</td>
                                 </tr>`;
                    });
              } else {
                  rows = `<tr>
                              <td class="text-center" colspan="3">
                                <h2>@Localizer.Get("Not Found")</h2>
                              </td>
                            </tr>`;
              }
                
              $('.history_table_body').html(rows);
            }
          });
        });
       
</script>
}
